* {
    border: solid 1px red;
}

body {
    font-family: 'Advent Pro', sans-serif;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header img {
    width: 60px;
    height: 60px;

}

.header {
    display: flex;
    background-color: skyblue;
    padding: 8px 64px;
    align-items: center;
    /* flex-wrap: wrap; */
    border-bottom: 8px solid rgb(47, 179, 231);
}

.header-items {
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    justify-items: center;
    gap: 32px;
    flex: 1 0 0;
    font-weight: 300px;
}

.page-name {
    margin-right: auto;
    padding-left: 32px;
    font-weight: 900;
    font-size: 30px;
    color: white;
}

.header-items a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 23px;
    transition: font-size 0.5s, color 0.5s;
}

a:hover {
    font-size: 30px;
    text-decoration: underline white 1px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content-top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 50px;
    min-height: 70vh;
    background-image: url(./images/white-cloud-sky-background.jpg);
    background-size: cover;
}

.content-top-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 12px 30px;
    border-top: solid 4px black;
    border-bottom: solid 4px black;
}

.top-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video {
    width: 500px;
    height: auto;
}

.top-intro {
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0px 0px;
    flex: 1 1 auto;
}

.headline {
    font-weight: 900;
    font-size: 50px;
    color: black;
    margin: 0px;
    text-align: center;

}

h1 {
    color: black;
    font-weight: 400;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    text-align: justify;
}

p {
    font-size: 20px;
    padding: 0px 10px;
    text-align: justify;
}

h3 {
    color: black;
    margin: 0px;
    padding-bottom: 5px;
    text-align: justify;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.btn-yes,
.btn-no {
    padding: 10px;
    background-color: skyblue;
    color: white;
    font-weight: 200;
    font-size: 18px;
    border-radius: 20px;
    border-color: black;
    transition: background-color 0.5s, padding 0.5s;
}

.btn-yes:hover {
    background-color: rgb(69, 174, 69);
    padding: 10px 30px;
}

.btn-no:hover {
    background-color: rgb(176, 47, 47);
    padding: 10px 30px;
}

.card-img {
    width: 300px;
    height: auto;
}

.content-upper {
    display: flex;
}

.upper-cards {
    display: flex;
}

.footer {
    background-color: skyblue;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    color: white;
    border-top: 8px solid rgb(47, 179, 231);
    box-sizing: border-box;
}